.name{
    font-size: 20px;
    font-weight: bolder;
}
.imageProfile{
    margin-bottom: 15px;
}
.imageProfile img{
    border-radius: 50%;
}
.iconContact{
    font-size: 30px;
    color: #3c8aca;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    filter: saturate(180%);
}
.grilla img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.grilla img:hover{
    filter: grayscale(80%);
}

.widthImage{
    width: 300px;
    height: 300px;
}
.widthImage img{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 5px;
}
.spaceServices{
    margin-bottom: 20px;
}
@media(max-width:525px){
    .grilla{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
}
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #3c8aca; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}