.visible{
    position: fixed;
}
.presentation{
    width: 100%;
    height: 500px;
    display: none;
}
.head-top{
    background-color: rgba(99, 97, 97, 0.973);
}
.name{
    font-size: 20px;
    font-weight: bolder;
}
.imageProfile{
    margin-bottom: 15px;
}
.imageProfile img{
    border-radius: 50%;
}
.iconContact{
    font-size: 30px;
    color: #ffffff;
}
.contact{
    color: #ffffff;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    filter: saturate(180%);
}
.grilla img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.grilla img:hover{
    filter: grayscale(80%);
}
.form-control{
    color: #000 !important;
}
/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-style: italic;
    font-size: 20px !important;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #046886;
    border-radius: 3px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.pointerNabvarItems:hover{
    text-decoration: underline !important;
}
.widthImage{
    width: 300px;
    height: 300px;
}
.widthImage img{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 5px;
}
.spaceServices{
    margin-bottom: 20px;
}
.youtube{
    background-color: #f00;
    padding: 10px;
    margin: 20px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.youtube:hover{
    background-color: #3c8aca;
    color: #000;
}
.containerButtonYoutube{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
}
.video{
    width: 500px;
    height: 300px;
}
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
  }
  /* Botones Flotantes */
.btn-flotante-messenger {
	border-radius: 10%; /* Borde del boton */
	padding: 2px 2px; /* Relleno del boton */
	position: fixed;
	bottom: 50px;
	right: 45px;
	z-index: 99;
    margin: 25px 0;
}
.btn-flotante-messenger img{
    width: 45px;
    height: 45px;
}
.btn-flotante-telegram{
    border-radius: 10%;
	padding: 2px 2px; /* Relleno del boton */
	position: fixed;
	bottom: 120px;
	right: 40px;
	z-index: 99;
}
.btn-flotante-telegram img{
    width: 60px;
    height: 60px;
}
.btn-flotante-whatsapp{
    border-radius: 10%;
	padding: 2px 2px; /* Relleno del boton */
	position: fixed;
	bottom: 178px;
	right: 33px;
	z-index: 99;
}
.btn-flotante-whatsapp img{
    width: 75px;
    height: 55px;
}
.btn-flotante-messenger img:hover {
	cursor: pointer;
    transform: rotate(180deg);
}
.btn-flotante-telegram img:hover {
	cursor: pointer;
    transform: rotate(45deg);
}
.btn-flotante-whatsapp img:hover {
	cursor: pointer;
    transform: rotate(20deg);
}
@media(max-width:650px){
    .video{
        width: 100%;
        height: 300px;
    }
    .youtube{
        padding: 8px;
    }
    .banner_main{
        display: none;
    }
    .presentation {
        display: block;
    }
}
@media(max-width:525px){
    .grilla{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
}
.presentation{
    height: 350px;
}
.video{
   width: 100%;
   height: 200px;
}
.btn-flotante-messenger {
    bottom: 110px;
    right: 10px;
}
.btn-flotante-telegram {
    bottom: 75px;
    right: 5px;
}
.btn-flotante-whatsapp {
    bottom: 185px;
    right: -3px;
}
}
@media(max-width:400px){
    .presentation {
        height: 250px;
        margin-top: 15px;
    }
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #3c8aca; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}